<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Vyvojari.sk</title>}
    else
    {
        <title>Vyvojari.sk - Portál pre vývojárov</title>}

    <link id="favicon" href="~/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">
                    <img alt="Brand" src="~/media/logo-80h.png" style="height: 50px; margin-top:-15px;">
                </a>
            </div>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Manage">Manage</a></li>
                            <li>
                                <form asp-controller="Account" asp-action="LogOff" method="post">
                                    <button class="btn btn-link navbar-link">Log off</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                     <li>
                         <a asp-controller="Account" asp-action="@nameof(AccountController.Login)">Log In</a>
                     </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
