<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Vývojári.sk</title>
    }
    else
    {
        <title>Vývojari.sk - Portál pre vývojárov</title>
    }
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link id="favicon" href="~/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    @*overriden in site.css due bootstrap4 compat: <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />*@
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <div class="container top-header">
            <form asp-controller="Search" asp-action="@nameof(SearchController.Index)" method="get">
                <div class="search-input">
                    <input name="query" class="form-control" type="search" placeholder="Search Topics ..." aria-label="Search">
                    <a href="" class="search-ic"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </form>
        </div>
        <div class="bottom-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="navbar-brand p-0" asp-controller="Home" asp-action="Index">
                        <img src="~/media/logo.png" class="d-inline-block align-top" alt="" width="165">
                    </a>
                    <button class="navbar-toggler menu-box" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/media/menu-line.png">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto text-uppercase">
                            <li class="nav-item @(this.Url.IsCurrentRoute("News") ? "active" : "")">
                                <a class="nav-link" asp-controller="News" asp-action="@nameof(NewsController.Index)">Správičky</a>
                            </li>
                            <li class="nav-item @(this.Url.IsCurrentRoute("Forum") ? "active" : "")">
                                <a class="nav-link" asp-controller="Forum" asp-action="@nameof(ForumController.Index)">Diskusia</a>
                            </li>
                            <li class="nav-item @(this.Url.IsCurrentRoute("Blog") ? "active" : "")">
                                <a class="nav-link" asp-controller="Blog" asp-action="@nameof(BlogController.Index)">Blogy</a>
                            </li>
                            <environment names="Development,Test">
                                <li class="nav-item @(this.Url.IsCurrentRoute("SampleData") ? "active" : "")">
                                    <a class="nav-link" asp-controller="SampleData" asp-action="@nameof(SampleDataController.Index)">Sample Data</a>
                                </li>
                            </environment>
                        </ul>
                    </div>
                    <form class="form-inline my-2 my-lg-0 navbar-right"
                          asp-controller="Account" asp-action="LogOff" method="post">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <vc:inbox-bar />
                            <vc:notification-bar />
                            <div class="ml-3 dropdown user-account">
                                <a href="#" data-toggle="dropdown" aria-expanded="false" style="line-height:42px; display:inline-flex">
                                    <span avatar-for-user="@User.Identity.Name" class="avatar avatar-xsmall rounded-circle mr-1" />
                                    <span class="align-middle pl2">@User.Identity.Name <i class="fa fa-sort-desc ml-1 mt-0 align-middle" aria-hidden="true"></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-controller="Manage" asp-action="@nameof(ManageController.Index)">My Account</a>
                                    </li>
                                    <li>
                                        <button class="btn btn-link navbar-link">Log off</button>
                                    </li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="btn green-btn text-uppercase" asp-controller="Account" asp-action="@nameof(AccountController.Login)">Prihlásenie</a>
                            <a class="btn orange-btn text-uppercase" asp-controller="Account" asp-action="@nameof(AccountController.Register)">Registrácia</a>
                        }
                    </form>
                </nav>
            </div>
        </div>
        @RenderSection("top", required: false)
    </header>

    <section id="main" class="container">
        @RenderBody()
    </section>
    <section id="MostActiveUsers" class="container mt-5">
        <vc:most-active-users />
    </section>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/marked/marked.js"></script>
    <script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/scripts/site.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
