<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Vývojári.sk</title>
    }
    else
    {
        <title>Vývojari.sk - Portál pre vývojárov</title>
    }
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300,400|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link id="favicon" href="~/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*overriden in site.css due bootstrap4 compat: <link rel="stylesheet" href="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" />*@
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header class="header">
        <div class="container top-header">
            <div class="search-input">
                <input class="form-control" type="search" placeholder="Search Topics ..." aria-label="Search">
                <a href="" class="search-ic"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <nav class="navbar navbar-expand-lg p-0">
                    <a class="navbar-brand p-0" asp-controller="Home" asp-action="Index">
                        <img src="~/media/logo.png" class="d-inline-block align-top" alt="" width="165">
                    </a>
                    <button class="navbar-toggler menu-box" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/media/menu-line.png">
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ml-auto text-uppercase">
                            <li class="nav-item @(this.Url.IsCurrentRoute("News") ? "active" : "")">
                                <a class="nav-link" asp-controller="News" asp-action="@nameof(NewsController.Index)">Správičky</a>
                            </li>
                            <li class="nav-item @(this.Url.IsCurrentRoute("Forum") ? "active" : "")">
                                <a class="nav-link" asp-controller="Forum" asp-action="@nameof(ForumController.Index)">Diskusia</a>
                            </li>
                            <li class="nav-item @(this.Url.IsCurrentRoute("Blog") ? "active" : "")">
                                <a class="nav-link" asp-controller="Blog" asp-action="@nameof(BlogController.Index)">Blogy</a>
                            </li>
                            <environment names="Development">
                                <li class="nav-item @(this.Url.IsCurrentRoute("SampleData") ? "active" : "")">
                                    <a class="nav-link" asp-controller="SampleData" asp-action="@nameof(SampleDataController.Index)">Sample Data</a>
                                </li>
                            </environment>
                        </ul>
                    </div>
                    <form class="form-inline my-2 my-lg-0 navbar-right"
                          asp-controller="Account" asp-action="LogOff" method="post">
                        @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync(typeof(InboxBarViewComponent))
                        @await Component.InvokeAsync(typeof(NotificationBarViewComponent))
                        <div class="ml-3 dropdown user-account">
                            <a data-toggle="dropdown" href="#" aria-expanded="false">
                                <img src="~/media/top-user-icon.png" class="mr-1">
                                @User.Identity.Name <i class="fa fa-sort-desc ml-1 mt-0" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Manage" asp-action="@nameof(ManageController.Index)">My Account</a>
                                </li>
                                <li>
                                    <button class="btn btn-link navbar-link">Log off</button>
                                </li>
                            </ul>
                        </div>
                }
                else
                {
                    <a class="btn green-btn text-uppercase" asp-controller="Account" asp-action="@nameof(AccountController.Login)">Login</a>
                    <a class="btn orange-btn text-uppercase" asp-controller="Account" asp-action="@nameof(AccountController.Register)">Register</a>
            }

                    </form>
                </nav>
            </div>

        </div>
        @RenderSection("top", required: false)
    </header>


    <section id="main" class="container">
        @RenderBody()
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/marked/lib/marked.js"></script>
    <script src="~/lib/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    @Html.Partial("_ValidationScriptsPartial");
    <script src="~/scripts/site.js"></script>
    @RenderSection("scripts", required: false)


</body>
</html>
