@model ICollection<DevPortal.QueryStack.Model.ForumThread>

<aside class="mb-5">
    <h3 class="main-head">Diskusia<small>, posledné príspevky</small></h3>
    <div class="form-cont-out mb">
        @foreach (var item in Model)
        {
            <div class="btm-bord-content">
                <a avatar-for-user="@item.CreatedBy" class="avatar avatar-small pull-left" />
                <div class="form-cont-inn">
                    <a asp-controller="Forum" 
                       asp-action="@nameof(ForumController.Detail)"
                       asp-route-id="@item.Id"
                       class="mb-1" title="@item.Title">
                        @if (item.PostsCount > 0)
                        {
                            <strong>RE: </strong>
                        }
                        @item.Title.Truncate(50)
                    </a>
                    <p class="gray-text font-s14 light-text mb-0 clearfix">
                        <time for="@item.LastPosted" /> od <span class="blue-text">@item.LastPostedBy</span>
                        <span class="pull-right">
                            @item.PostsCount odpovedí
                        </span>
                    </p>
                </div>
            </div>
        }
        <a asp-controller="Forum" class="blue-text font-s14">Viac »</a>
    </div>
</aside>