@model DevPortal.Web.Models.SharedViewModels.CommentViewModel

<li id="@Model.Id" class="media mb-1 b-t pt-2">
    <a avatar-for-user="@Model.UserName" class="d-flex mr-3 avatar avatar-xsmall rounded-circle" />
    <div class="media-body">
        <div class="text-justify">
            <strong><a href="#">@(Model.UserName ?? "Anonym")</a></strong>
            <div class="comment" markdown>@Model.Message</div>
        </div>
        <ul class="actions list-inline">
            <li class="list-inline-item"><a href="#">like</a></li>
            <li class="list-inline-item"><a href="#">reply</a></li>
        </ul>
    </div>
    <div class="media-right">
        <time for="@Model.Created" />
    </div>
</li>