@model DevPortal.Web.Models.SharedViewModels.CommentViewModel

<li id="@Model.Id" class="media">
    <div class="media-left">
        <a class="avatar avatar-small" avatar-for-user="@Model.UserName">
            <img class="media-object media-object-small" src="~/media/userpicture.jpg" alt="...">
        </a>
    </div>
    <div class="media-body">
        <div class="text-justify">
            <strong><a href="#">@(Model.UserName ?? "Anonym")</a></strong>
            <markdown>@Model.Message</markdown>
        </div>
        <ul class="actions list-inline">
            <li><a href="#">like</a></li>
            <li><a href="#">reply</a></li>
            <li><a href="#">share</a></li>
        </ul>
    </div>
    <div class="media-right">
        <time for="@Model.Created" />
    </div>
</li>