@using DevPortal.QueryStack.Model
@model DevPortal.Web.Models.ForumViewModels.CreateForumThreadViewModel
@{
    ViewBag.Title = "Nová otázka";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="main-head">Nová otázka</h1>
        <form asp-action="@nameof(ForumController.Create)" method="post">

            <div class="form-group">
                <label asp-for="@Model.Title">Názov</label>
                <input type="text" class="form-control" aria-label="Definujte názov témy alebo otázku"
                       asp-for="@Model.Title">
                <span asp-validation-for="@Model.Title"></span>

            </div>
            <div class="form-group">
                <content-editor asp-for="@Model.Content" />
                <span asp-validation-for="@Model.Content"></span>
            </div>

            <div class="form-group">
                <label for="tags">Tagy</label>
                <tags-editor asp-for="@Model.Tags" />
                <span asp-validation-for="@Model.Tags"></span>
            </div>

            <div class="pt-3">
                <partial name="_ReCaptcha" />
                <a asp-action="index" class="btn btn-secondary">Zrušiť</a>
                <div class="pull-right">
                    <button asp-action="Create" class="btn btn-success" type="submit">Odoslať</button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-4">
        <section>
            <h3 class="main-head light-text">Najpoužívanejšie tagy</h3>
            <vc:most-used-tags entity-type="@typeof(ForumThread)" />

        </section>
    </div>
</div>

