@using DevPortal.Web.Models.ForumViewModels;
@model ForumDetailViewModel
@{
    ViewBag.Title = "Diskusné fórum";

    var posts = Model.Answers.ToList();
    posts.Insert(0, Model.Question);
}


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>@Model.Question.Title</h1>
                @foreach (var tag in Model.Question.Tags)
                {
                    <span class="label label-default">@tag</span>
                }

                @foreach (var answer in posts)
                {
                    <div class="forum-post">
                        <a>
                            <img src="@answer.Avatar"
                                 class="avatar" />
                        </a>
                        <div class="panel panel-default comment-title">
                            <div class="panel-heading">
                                <strong>@answer.UserName</strong> napísal pred 8 hodinami
                            </div>
                            <div class="panel-body">
                                @answer.Content
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <form asp-action="@nameof(ForumController.NewAnswer)" 
              asp-controller="Forum"
              asp-route-id="@Model.Question.Id"
              method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Nový príspevok
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <vc:editor asp-for="@Model.NewAnswer.Content"  />
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Odoslať</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
        <div class="panel panel-default">
            <div class="panel-body">
                <section>
                    <h2>Prehľad diskusie</h2>
                    <ul class="media-list">
                        @foreach (var post in posts)
                        {
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object media-object-small" src="@Url.Content(post.Avatar)" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">@post.UserName @(post == Model.Question ? "sa opýtal" : "napísal odpoveď")</h4>
                                    @post.Created
                                </div>
                            </li>
                        }
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

