@using DevPortal.Web.Models.ForumViewModels;
@model ForumDetailViewModel
@inject IAuthorizationService auth

@{
    ViewBag.Title = "Diskusné fórum";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="main-head">Diskusné fórum</h1>
        <h2 class="orange-text head-link">@Model.Thread.Title</h2>
        @foreach (var tag in Model.Thread.Tags)
        {
            <span class="badge badge-secondary">@tag.Name</span>
        }
        <div class="mt-3 media">
            <a avatar-for-user="@Model.Thread.CreatedBy" class="d-flex mr-3 avatar" />
            <div class="media-body">
                <p class="gray-text font-s14 mb-0">
                    <b>@Model.Thread.CreatedBy</b>, <time for="Model.Thread.Created" />
                    @if (Model.Thread.LastModified > Model.Thread.Created)
                    {
                        <i>(edited by @Model.Thread.LastModifiedBy, <time for="@Model.Thread.LastModified" />)</i>
                    }
                </p>
                <markdown>@Model.Thread.Content</markdown>
                <div class="clearfix">
                    <span class="blue-text pull-right">
                        <a href="#" class="link mr-2">Zdieľať</a>

                        @if ((await auth.AuthorizeAsync(
                            User, Model.Thread, Policies.EditPolicy)).Succeeded)
                        {
                            <a asp-action="@nameof(ForumController.Edit)" asp-route-id="@Model.Thread.Id" class="link">Upraviť</a>
                        }
                    </span>
                </div>
            </div>
        </div>
        <ul class="media-list ml-3">
            @foreach (var post in Model.Thread.Posts)
            {
                <li id="@post.Id" class="media border-top mt-2 pt-2">
                    <a avatar-for-user="@post.CreatedBy" class="d-flex mr-3 avatar avatar-xsmall rounded-circle" />
                    <div class="media-body">
                        <p class="gray-text font-s14 mb-0">
                            <b>@post.CreatedBy</b>, <time for="post.Created" />
                            @if (post.LastModified > post.Created)
                            {
                                <i>(edited by @post.LastModifiedBy, <time for="@post.LastModified" />)</i>
                            }
                        </p>
                        <markdown>@Html.Raw(post.Content)</markdown>
                        <ul class="actions list-inline">
                            <li class="list-inline-item"><a href="#">like</a></li>
                            <li class="list-inline-item"><a href="#">reply</a></li>
                        </ul>
                    </div>
                </li>
            }
        </ul>


        <form asp-action="@nameof(ForumController.NewPost)"
              asp-controller="Forum"
              asp-route-id="@Model.Thread.Id"
              method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Nová odpoveď
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <content-editor asp-for="@Model.NewAnswer.Content" />
                        <span asp-validation-for="@Model.NewAnswer.Content"></span>
                    </div>
                </div>
                <div class="panel-footer">
                    <partial name="_ReCaptcha" />
                    <button class="btn btn-success">Odoslať</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs">
        <section>
            <h3 class="main-head">Prehľad diskusie</h3>
            <div class="form-cont-out mb">
                <div class="btm-bord-content">
                    <a href="#">
                        <div avatar-for-user="@Model.Thread.CreatedBy" class="avatar avatar-small pull-left"></div>
                        <div class="form-cont-inn">
                            <p class="mb-1">@Model.Thread.Title.Truncate(25)</p>
                            <p class="gray-text font-s14 light-text mb-0"><time for="Model.Thread.Created" /> od <span class="blue-text">@Model.Thread.CreatedBy</span></p>
                        </div>
                    </a>
                </div>
                @foreach (var post in Model.Thread.Posts.OrderBy(p => p.Created))
                {
                    <div class="btm-bord-content">
                        <a href="#">
                            <div avatar-for-user="@post.CreatedBy" class="avatar avatar-small pull-left"></div>
                            <div class="form-cont-inn">
                                <p class="mb-1"><strong>RE: </strong>@Model.Thread.Title.Truncate(22)</p>
                                <p class="gray-text font-s14 light-text mb-0"><time for="post.Created" /> od <span class="blue-text">@post.CreatedBy</span></p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
