@model DevPortal.Web.Models.ForumViewModels.IndexPageViewModel

@{
    ViewBag.Title = "Diskusné fórum";
}

<div class="row">
    <div class="col-lg-9">
        <h1 class="main-head">
            Diskusné Fórum

            <a asp-action="@nameof(ForumController.Create)" class="btn btn-warning pull-right">Pridať otázku</a>
        </h1>
        <section>
            @foreach (var threadVm in Model.Threads)
            {
                var thread = threadVm.Thread;
                <div class="btm-bord-content mt-30">
                    <div class="@(thread.PostsCount > 0 ? "bubble" : "bubble bubble-gray")">
                        @thread.PostsCount
                    </div>
                    <div>
                        <a asp-action="@nameof(ForumController.Detail)" asp-route-id="@thread.Id"
                           class="orange-text head-link">
                            @thread.Title
                        </a>
                        <p class="mb-2">@thread.Content.Truncate(150)</p>
                        @foreach (var tag in DevPortal.Web.AppCode.TagsConverter.StringToArray(thread.Tags))
                        {
                            <span class="badge badge-secondary">@tag</span>
                        }
                        <p class="gray-text font-s14 mb-0">
                            Posted on @thread.Created <span class="blue-text">@thread.CreatedBy</span>
                            <span class="pull-right">
                                <a avatar-for-user="@thread.CreatedBy" class="avatar avatar-xsmall rounded-circle" />
                                @foreach (var participantUserName in threadVm.Participants)
                                {
                                    <a avatar-for-user="@participantUserName" class="avatar avatar-xsmall rounded-circle" />
                                }
                            </span>
                        </p>
                    </div>
                </div>
            }
        </section>
    </div>

    <div class="col-md-3">
        <aside>
            <h3 class="main-head">Kategórie</h3>
            @foreach (var tag in Model.MostUsedTags)
            {
                <div><a href="#" class="badge badge-secondary lg">@tag</a></div>
            }
        </aside>
    </div>

</div>
