@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Registrácia";
}


<div class="panel panel-default">
    <div class="panel-heading">Nový používateľ</div>
    <div class="panel-body">
        <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

            <h4>Registračný formulár</h4>

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <p class="text-info">
                Prihlásenie cez <strong>@ViewData["LoginProvider"]</strong> bolo úspešné.
                Vyplnte prosím svoju prezývku, ktorá sa bude zobrazovať pri vašich príspevkoch.
            </p>

            <div style="max-width:600px">
                <div class="form-group">
                    <label asp-for="@Model.Username" class="control-label">Meno používateľa alebo prezývka</label>
                    <div>
                        <input asp-for="@Model.Username" autofocus class="form-control" />
                        <span asp-validation-for="@Model.Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Email" class="control-label"></label>
                    <div>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-success">Vytvoriť používateľa</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
