@model DevPortal.Web.Models.BlogViewModels.IndexPageViewModel
@{
    ViewBag.Title = "Blogy";
}

<div class="clearfix m-b-sm">
    <div class="btn-group pull-right">
        @*<a class="btn btn-warning " asp-action="Create">Vytvor blog post</a>*@
        <a class="btn btn-warning " asp-action="CreateLink">Vytvor odkaz na blog</a>
    </div>
</div>

@foreach (var blog in Model.Blogs)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                <a class="h3" href="@blog.ExternalUrl" target="_blank">
                    @blog.Title
                    @*@if (newsItem.IsExternalLink)*@
                    {
                    <i class="glyphicon glyphicon-new-window"></i>
                    }
                </a>


                @if (User.Identity.Name == blog.CreatedBy)
                {
                    <button class="btn btn-default pull-right">Delete</button>
                }
            </h3>
            <p><markdown>@blog.Description</markdown></p>

            <div class="media">
                <div class="media-left">
                    <a avatar-for-user="@blog.CreatedBy" class="avatar avatar-small" />
                </div>
                <div class="media-body">
                    <b>@blog.CreatedBy</b>, <time for="blog.Created" />
                </div>
            </div>


        </div>
    </div>
}

<div class="text-center">
    <nav aria-label="pagination">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2 <span class="sr-only">2</span></a></li>
            <li><a href="#">3 <span class="sr-only">3</span></a></li>
            <li><a href="#">4 <span class="sr-only">4</span></a></li>
            <li><a href="#">5 <span class="sr-only">5</span></a></li>
            <li><a href="#">6 <span class="sr-only">6</span></a></li>
            <li class="disabled"><a href="#">... <span class="sr-only">...</span></a></li>
            <li><a href="#">58 <span class="sr-only">(current)</span></a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>
