@model DevPortal.Web.Models.BlogViewModels.IndexPageViewModel
@{
    ViewBag.Title = "Blogy";
}
<h1 class="main-head">
    Blogy
    <a class="btn btn-warning pull-right" asp-action="CreateLink">Pridať odkaz na blog</a>
</h1>

@foreach (var blog in Model.Blogs)
{
    <div class="border-bottom mt-3 media">
        <a avatar-for-user="@blog.CreatedBy" class="d-flex mr-3 avatar" />
        <div class="media-body">
            <h3><a class="orange-text head-link" href="@blog.ExternalUrl">@blog.Title</a></h3>
            <span class="gray-text font-s14">
                Pridané @blog.Created užívateľom <span class="blue-text">@blog.CreatedBy</span>
            </span>
            <p><markdown>@blog.Description</markdown></p>
            <a href="@blog.ExternalUrl" class="gray-text">@blog.ExternalUrl</a>

            <div class="mb-0">              
                @if (User.Identity.Name == blog.CreatedBy)
                {
                    <form asp-action="@nameof(BlogController.Delete)" asp-route-id="@blog.Id" method="post" 
                        class="d-inline pull-right">
                        <button type="submit" class="btn btn-link">Zmazať</button>
                    </form>
                }
            </div>
        </div>
    </div>
}

<pagination asp-for="@Model" />
