@using DevPortal.Web.Models.NewsViewModels;
@model IndexPageViewModel
@{
    ViewBag.Title = "Správičky";
}

<h1 class="main-head">
    Správičky
    <a asp-action="@nameof(NewsController.Create)" class="btn btn-warning pull-right">Vytvor správičku</a>
</h1>


@foreach (var newsItem in Model.Items)
{
    <div class="border-bottom mt-3 media">
        <a avatar-for-user="@newsItem.CreatedBy" class="d-flex mr-3 avatar" />
        <div class="media-body">

            <h3><a class="orange-text head-link" asp-action="@nameof(NewsController.Detail)" asp-route-id="@newsItem.Id">@newsItem.Title</a></h3>
            @Html.Partial("_UserInfo", newsItem)
            <p><markdown>@newsItem.Content.Truncate(500)</markdown></p>
            <p>
                
                @foreach (var tag in newsItem.Tags)
                {
                    <span class="badge badge-dark">@tag.Name</span>
                }
            </p>

            <div class="@(newsItem.Comments.Count == 0 ? "collapse" : "")">
                Kometáre:
                @if (newsItem.CommentsCount > Model.MaxCommentsPerItem)
                {
                    <a href="javascript:void()">Zobraz predchádzajúce komentáre</a>
                }

                <ul class="media-list">
                    @foreach (var comment in newsItem.Comments.Take(Model.MaxCommentsPerItem))
                    {
                        <vc:comment model="Model.CreateCommentVm(comment)" />
                    }
                </ul>



            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <form method="post" asp-action="@nameof(NewsController.AddComment)" asp-route-id="@newsItem.Id">
                        <input asp-for="@Model.AddComment.Message" class="form-control" placeholder="Add comment"
                               data-action="submit" />
                        <span asp-validation-for="@Model.AddComment.Message" />
                    </form>
                </div>
            }
        </div>
    </div>
}

<pagination asp-for="@Model" />
