@model DevPortal.Web.Models.NewsViewModels.IndexPageViewModel
@{
    ViewBag.Title = "Správičky";
}

@section top{
    <div class="jumbotron-news shadow">
        <div class="container">
            <div class="pull-left">
                <h1>Správičky</h1>
                <p>Novinky, udalosti, oznámenia...<br/>Majte prehľad o tom, čo je nové vo svete vývojárov!</p>

            </div>

            <div class="pull-right">
                <img src="~/media/news-icon.png" class="jumbotron-icon" />
            </div>
        </div>
    </div>
}

<div class="clearfix m-b-sm">
    <a class="btn btn-warning pull-right" asp-action="Create">Vytvor správičku</a>
</div>


@foreach (var newsItem in Model.Items)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><a asp-action="@nameof(NewsController.Detail)" asp-route-id="@newsItem.Id">@newsItem.Title</a></h3>
            <p><markdown>@newsItem.Content</markdown></p>
            <ul class="actions list-inline">
                <li><button class="btn btn-default">Upvote</button></li>
                <li>
                    <button class="btn btn-link" data-action="show-comments">
                        Comment
                        @if (newsItem.CommentsCount > 0)
                        {
                            <span class="label label-default">@newsItem.CommentsCount</span>
                        }
                    </button>
         
                </li>
                <li><button class="btn btn-link">Share</button></li>
            </ul>
        </div>

        <div class="panel-footer @(newsItem.Comments.Count == 0 ? "collapse" : "")">
            @if (newsItem.CommentsCount > Model.MaxCommentsPerItem)
            {
                <a href="javascript:void()">view previous comments</a>
            }
            <ul class="media-list">
                @foreach (var comment in newsItem.Comments.Take(Model.MaxCommentsPerItem))
                {
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object media-object-small" src="~/media/userpicture.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="text-justify"><strong><a href="#">@comment.CreatedBy</a></strong><markdown>@comment.Content</markdown></div>
                            <ul class="actions list-inline">
                                <li><a href="#">like</a></li>
                                <li><a href="#">reply</a></li>
                                <li><a href="#">share</a></li>
                            </ul>
                        </div>
                        <div class="media-right">
                            <time for="@comment.Created"></time>      
                        </div>
                    </li>
                }
            </ul>



            <div class="form-group">
                <input class="form-control" placeholder="Add comment" />
            </div>
        </div>
    </div>
}
