@using Microsoft.EntityFrameworkCore;
@using static DevPortal.Web.AppCode.ControllerNameConverter;

@inject UserManager<ApplicationUser> userManager
@inject DevPortal.QueryStack.DevPortalDbContext dbContext
@{
    var applicationUser = await userManager.GetUserAsync(User);
    var activities = await dbContext.Activities.Where(c => c.UserName == User.Identity.Name)
        .OrderByDescending(a => a.TimeStamp)
        .Take(50) //server limit
        .GroupBy(a => a.ContentId) //EF 2.1 will do it on client
        .Select(g => g.First()) //select only latest activity for given node (e.g. only latest comment)
        .Take(4) //client limit after selecting only latest activity for given node
        .ToArrayAsync();
}
<div class="welcome-cont-out">
    <h1 class="main-head"><span class="light-text">Ahoj,</span> @User.Identity.Name<text>!</text></h1>
    <div class="row">
        <div class="col-md-6 board-right">
            <a avatar-for-user="@User.Identity.Name" class="avatar pull-left"></a>
            <div class="welcome-cont">
                @if (!string.IsNullOrEmpty(applicationUser?.ShortDescription))
                {
                    <p class="mb-1"><b>@applicationUser?.ShortDescription</b></p>
                }
                <a asp-controller="Manage" asp-action="@nameof(ManageController.Index)"
                   class="blue-text mb-0">Vylepši si svoj profil »</a>
            </div>
        </div>
        <div class="col-md-6 res-mt-20">
            <ul class="light-text">
                @foreach (var activity in activities)
                {
                    <li>
                        <a asp-action="Detail"
                           asp-route-id="@activity.ContentId"
                           asp-fragment="@activity.Fragment"
                           asp-controller="@ControllerNameFromContentType(activity.ContentType)">
                            @activity.ContentTitle.Truncate(50)
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>