@using DevPortal.Web.Models.HomeViewModels
@using DevPortal.CommandStack.Events
@using DevPortal.QueryStack.Model

@model HomePageViewModel

<div class="row">
    <div class="col-lg-8">
        @if (!User.Identity.IsAuthenticated)
        {
            <vc:login-form model="null" />
        }
        else
        {
            <partial name="_UserInfo" />
        }

        <ul class="nav tab-content-style" id="tablist" role="tablist">
            <li id="news-tab"><a href="#news" class="active" data-toggle="tab" role="tab">správičky</a></li>
            <li id="forum-tab"><a href="#forum" data-toggle="tab" role="tab">fórum</a></li>
            <li id="activity-tab"><a href="#activity" data-toggle="tab" role="tab">posledná aktivita</a></li>
        </ul>

        <div class="tab-content mt-30" id="tablistContent">
            <section id="news" class="tab-pane fade show active" role="tabpanel" aria-labelledby="news-tab">
                @foreach (var newsItem in Model.LatestNews)
                {
                    <div class="btm-bord-content">
                        <div class="@(newsItem.CommentsCount > 0 ? "bubble" : "bubble bubble-gray")">
                            @newsItem.CommentsCount
                        </div>
                        <div>
                            <a asp-controller="News" asp-action="@nameof(NewsController.Detail)" asp-route-id="@newsItem.Id"
                               class="orange-text head-link">@newsItem.Title</a>
                            <p class="mb-2">@newsItem.Content.Truncate(120)</p>
                            <p class="gray-text font-s14 mb-0">
                                Posted on @newsItem.Created <span class="blue-text">@newsItem.CreatedBy</span>
                                <span class="blue-text pull-right">
                                    <a href="#" class="link mr-2">Share</a>
                                    <a href="#" class="link">Comments</a>
                                </span>
                            </p>
                        </div>
                    </div>
                }
            </section>
            <section id="forum" class="tab-pane fade" role="tabpanel" aria-labelledby="forum-tab">
                <partial name="../Forum/_ForumThreadsList.cshtml" model="Model.LatestForumThreads" />
            </section>
            <section id="activity" class="tab-pane fade" role="tabpanel" aria-labelledby="activity-tab">
                <ul class="media-list">
                    @foreach (var activity in Model.LastestActivity)
                    {
                        <li class="media  border-bottom mb-2 pb-2">
                            <a class="avatar avatar-xsmall mr-2" avatar-for-user="@activity.UserName" />
                            <div class="media-body">
                                @{
                                    string UserFriendlyAction(string action)
                                    {
                                        switch (action)
                                        {
                                            case nameof(NewsItemPublished): return "publikoval správičku";
                                            case nameof(NewsItemCommented): return "komentoval správičku";
                                            case nameof(ForumThreadCreated): return "položil otázku";
                                            case nameof(ForumItemPosted): return "reagoval na otázku";
                                            case nameof(BlogLinkCreated): return "vložil odkaz na blog";
                                            default: return action;
                                        }
                                    }
                                    string ControllerForEntity(string entityName)
                                    {
                                        switch (entityName)
                                        {
                                            case nameof(ForumThread): return "Forum";
                                            case nameof(NewsItem): return "News";
                                            case nameof(Blog): return "Blog";
                                            default: return null;
                                        }
                                    }
                                }
                                <div>
                                    <a href="#">@activity.UserName</a>
                                    @UserFriendlyAction(activity.Action)
                                    <span class="gray-text pull-right"><time for="@activity.TimeStamp" /></span>
                                </div>
                                @if (activity.ExternalUrl != null)
                                {
                                    <a class="orange-text" href="@activity.ExternalUrl">@activity.ContentTitle.Truncate(50)</a>
                                }
                                else
                                {
                                    <a class="orange-text"
                                       asp-action="Detail"
                                       asp-route-id="@activity.ContentId"
                                       asp-controller="@ControllerForEntity(activity.ContentType)">
                                        @activity.ContentTitle.Truncate(50)
                                    </a>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </section>
        </div>
    </div>
    <div class="col-md-4">
        <vc:forum-overview />
        <vc:blogs-overview />
    </div>
</div>
