@using DevPortal.Web.Models.HomeViewModels
@model HomePageViewModel

<div class="row">
    <div class="col-lg-8">
        @if (!User.Identity.IsAuthenticated)
        {
            <vc:login-form model="null" />
        }
        else
        {
            Html.RenderPartial("_UserInfo");
        }

        <ul class="tab-content-style">
            <li class="active"><a href="#">správičky</a></li>
            <li><a href="#">fórum</a></li>
            <li><a href="#">posledná aktivita</a></li>
        </ul>

        <section class="mt-30">
            @foreach (var newsItem in Model.LatestNews)
            {
                <div class="btm-bord-content mt-30">
                    <div class="@(newsItem.CommentsCount > 0 ? "bubble" : "bubble bubble-gray")">
                        @newsItem.CommentsCount
                    </div>
                    <div>
                        <a href="#" class="orange-text head-link">@newsItem.Title</a>
                        <p class="mb-2">@newsItem.Content.Truncate(120)</p>
                        <p class="gray-text font-s14 mb-0">
                            Posted on @newsItem.Created <span class="blue-text">@newsItem.CreatedBy</span>
                            <span class="blue-text pull-right">
                                <a href="#" class="link mr-2">Share</a>
                                <a href="#" class="link">Comments</a>
                            </span>
                        </p>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <vc:forum-overview />
        <vc:blogs-overview />
    </div>
</div>

<a href="~/fileupload.html">Test file upload</a>
