@using DevPortal.Web.Models.HomeViewModels
@model HomePageViewModel

<div class="container">
    <div class="row">
        <a class="btn btn-warning pull-right" href="@Url.Action(nameof(ForumController.NewPost), "Forum")">Ask question</a>
    </div>

    <div class="row">
        <div class="col-md-8">
            @if (!User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync(typeof(LoginFormViewComponent))
            }
            else
            {
              Html.RenderPartial("_UserInfo");
            }

            <div class="btn-group btn-group-justified m-b" role="group" aria-label="...">
                <a asp-controller="News" asp-action="Create" class="btn btn-warning">Vytvor spravičku</a>
                <a class="btn btn-info">Napíš článok</a>
                <a asp-controller="Forum" asp-action="NewPost" class="btn btn-success">Začni diskusiu</a>
            </div>


            @foreach (var newsItem in Model.LatestNews)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>@newsItem.Title</h3>
                        <p>@newsItem.Content</p>
                        <ul class="actions list-inline">
                            <li><button class="btn btn-default">Upvote</button></li>
                            <li>
                                <button class="btn btn-link">Comment</button>
                                @if (newsItem.Comments.Count > 0)
                                {
                                    <span class="label label-default">@newsItem.Comments.Count</span>
                                }
                            </li>
                            <li><button class="btn btn-link">Share</button></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4 panel panel-default">
            <h3>Diskusia <small>posledné príspevky</small></h3>
            <ul class="media-list">
                @foreach (var forumPost in Model.LatestPosts)
            {
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="@Url.Content(forumPost.Avatar)" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@forumPost.Title</h4>
                            @forumPost.Created od <strong>@forumPost.UserName</strong>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <a href="~/fileupload.html">Test file upload</a>
</div>