@using DevPortal.Web.Models.HomeViewModels
@model HomePageViewModel

<div class="clearfix m-b-sm">
    <a asp-controller="@ForumController.ControllerName" asp-action="@nameof(ForumController.Create)" class="btn btn-warning pull-right">Ask Question</a>
</div>

<div class="row">
    <div class="col-md-8">
        @if (!User.Identity.IsAuthenticated)
        {
            <vc:login-form model="null" />
        }
        else
        {
            Html.RenderPartial("_UserInfo");
        }

        <div class="btn-group btn-group-justified m-b" role="group" aria-label="...">
            <a asp-controller="News" asp-action="Create" class="btn btn-warning">Vytvor správičku</a>
            <a class="btn btn-info" asp-action="Create" asp-controller="Blog">Napíš článok</a>
            <a asp-controller="Forum" asp-action="Create" class="btn btn-success">Začni diskusiu</a>
        </div>

        <section>
            @foreach (var newsItem in Model.LatestNews)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>@newsItem.Title</h3>
                        <p>@newsItem.Content</p>
                        <ul class="actions list-inline">
                            <li><button class="btn btn-default">Upvote</button></li>
                            <li>
                                <button class="btn btn-link">Comment</button>
                                @if (newsItem.CommentsCount > 0)
                                {
                                    <span class="label label-default">@newsItem.CommentsCount</span>
                                }
                            </li>
                            <li><button class="btn btn-link">Share</button></li>
                        </ul>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4 p-l-0">
        <div class="panel panel-default">
            <div class="panel-body">
                <vc:forum-overview />
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <vc:blogs-overview />

            </div>
        </div>
    </div>
</div>

<a href="~/fileupload.html">Test file upload</a>
