@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginFormViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    Func<object, string> UrlEncode = obj => System.Text.Encodings.Web.UrlEncoder.Default.Encode((string)obj);
}

<section>
    <div id="loginPanel" class="user-login">
        <h1 class="main-head">Prihlásenie</h1>
        <div class="row">
            <div class="col-md-6 board-right">
                <form id="loginform" asp-controller="Account" asp-action="Login" method="post">
                    <input asp-for="@Model.UsernameOrEmail" class="form-control user" type="text" placeholder="Prezývka / Email">
                    <input asp-for="@Model.Password" class="form-control password" type="password" placeholder="Heslo">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <button class="btn green-btn text-uppercase font-s14" type="submit">Prihásiť sa</button>
                    <a asp-action="@nameof(AccountController.ResetPassword)"
                       asp-controller="Account"
                       class="light-text ml-2">Zabudnuté heslo?</a>
                </form>
            </div>
            <div class="col-md-6 res-mt-30">
                <form id="lexternaloginform"
                      asp-controller="Account"
                      asp-action="@nameof(AccountController.ExternalLogin)"
                      asp-route-returnurl="@ViewData["ReturnUrl"]"
                      method="post">
                    @foreach (var provider in loginProviders)
                    {
                        <button class="btn text-uppercase blue-btn text-center width-high mb-2"
                                name="provider"
                                value="@provider.Name"
                                type="submit">
                            <img src="~/media/fb-icon.png" class="mr-2">prihlásit sa cez @provider.DisplayName
                        </button>
                    }

                    <p>
                        <a asp-action="@nameof(AccountController.Register)" asp-controller="Account"
                           asp-route-returnurl="@ViewData["ReturnUrl"]">Zaregistrovať nový účet</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>